body {
    color: #8B7969;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1512px;
    height: 100px;
    border-bottom: solid 1px #E0DFDE;
    text-align: center;

}

.header__logo {
    color: #8B7969;
    text-decoration: none;
    font-size: 40px;
    font-family: "Inika", serif;
}

.contact-form__content {
    margin: 0 auto;
}

.contact-form__heading {
    font-size: 35px;
    text-align: center;
    font-family: "Inika", serif;
    color: #8B7969;
}