.background-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #8B7969;
    margin: 50px 0;
    text-align: center;
}

.background-text::after {
    content: 'Thank you';
    position: absolute;
    top: 0px;
    /*left: 20%;*/
    font-size: 280px;
    color: rgba(139,121,105,0.05);
    z-index: -1;
    white-space: nowrap;
    font-family: "Inika", serif;
}
